html, body{
    /* make body 100% of the window */
    height: 100%;
}

body{
    background-color: #5892c2;
}

* button {
    background-color: #ffbcdc;
    border-color: black;
}

* button:hover {
    background-color: #ffa4d0;
    transition: 2;
}

#welcome-screen{
    max-width: 50%;
}

.hide{
    display: none;
}