body {
    /* make body 100% of the window */
    height: 100%;
}
body {
    background-color: #5892C2;
}
* button {
    background-color: #FFBCDC;
    border-color: black;
}
.active {
    background-color: #FFBCDC;
    border-color: black;
}
* button:hover {
    background-color: #FFA4D0;
    transition: 2;
}
#welcome-screen {
    max-width: 50%;
}
.hide {
    display: none;
}
#get-started {
    position: relative;
    top: -75px;
}

#logo a{
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
}


#logo img{
    
    width: 25%;
    height: 25%;
}

#create-workout{
    background-color: rgb(55, 168, 55);
}